Repository python-discord/site, pull requests merged in 2019-11, with the labels that each got.

#278 Validation for active infractions
  pydis_site/apps/api/migrations/0047_active_infractions_migration.py
  pydis_site/apps/api/migrations/0048_add_infractions_unique_constraints_active.py
  pydis_site/apps/api/models/bot/infraction.py
  pydis_site/apps/api/models/bot/user.py
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/tests/migrations/__init__.py
  pydis_site/apps/api/tests/migrations/base.py
  pydis_site/apps/api/tests/migrations/test_active_infraction_migration.py
  pydis_site/apps/api/tests/migrations/test_base.py
  pydis_site/apps/api/tests/test_infractions.py
Labels: API, Backend

#292 Allauth improvements & GH
  pydis_site/__init__.py
  pydis_site/apps/home/forms/__init__.py
  pydis_site/apps/home/forms/account_deletion.py
  pydis_site/apps/home/signals.py
  pydis_site/apps/home/tests/test_signal_listener.py
  pydis_site/apps/home/tests/test_views.py
  pydis_site/apps/home/urls.py
  pydis_site/apps/home/views/__init__.py
  pydis_site/apps/home/views/account/__init__.py
  pydis_site/apps/home/views/account/delete.py
  pydis_site/apps/home/views/account/settings.py
  pydis_site/apps/staff/migrations/0002_add_is_staff_to_role_mappings.py
  pydis_site/apps/staff/models/role_mapping.py
  pydis_site/settings.py
  pydis_site/static/css/base/base.css
  pydis_site/static/js/base/modal.js
  pydis_site/templates/base/base.html
  pydis_site/templates/base/navbar.html
  pydis_site/templates/home/account/delete.html
  pydis_site/templates/home/account/settings.html
  pydis_site/tests/test_utils_account.py
  pydis_site/utils/account.py
Labels: Backend, Frontend, bug, enhancement, python

#313 Correct the Discord TOS link in rules API endpoint.
  pydis_site/apps/api/views.py
Labels: area: API, priority: 1 - high, type: bug
