Repository python-discord/site, pull requests merged in 2019-04, with the labels that each got.

#199 Add an API to post logs to.
  pydis_site/apps/api/migrations/0035_create_table_log_entry.py
  pydis_site/apps/api/models.py
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/urls.py
  pydis_site/apps/api/viewsets.py
Labels: API, Backend, enhancement, work in progress

#207 #205: split models into multiple modules
  pydis_site/apps/api/migrations/0008_tag_embed_validator.py
  pydis_site/apps/api/migrations/0019_deletedmessage.py
  pydis_site/apps/api/migrations/0034_add_botsetting_name_validator.py
  pydis_site/apps/api/models.py
  pydis_site/apps/api/models/__init__.py
  pydis_site/apps/api/models/bot/__init__.py
  pydis_site/apps/api/models/bot/bot_setting.py
  pydis_site/apps/api/models/bot/deleted_message.py
  pydis_site/apps/api/models/bot/documentation_link.py
  pydis_site/apps/api/models/bot/infraction.py
  pydis_site/apps/api/models/bot/message.py
  pydis_site/apps/api/models/bot/message_deletion_context.py
  pydis_site/apps/api/models/bot/nomination.py
  pydis_site/apps/api/models/bot/off_topic_channel_name.py
  pydis_site/apps/api/models/bot/reminder.py
  pydis_site/apps/api/models/bot/role.py
  pydis_site/apps/api/models/bot/snake_fact.py
  pydis_site/apps/api/models/bot/snake_idiom.py
  pydis_site/apps/api/models/bot/snake_name.py
  pydis_site/apps/api/models/bot/special_snake.py
  pydis_site/apps/api/models/bot/tag.py
  pydis_site/apps/api/models/bot/user.py
  pydis_site/apps/api/models/log_entry.py
  pydis_site/apps/api/models/utils.py
  pydis_site/apps/api/tests/test_validators.py
Labels: API, Backend

#212 #208: refactor viewsets into submodules
  .hadolint.yaml
  azure-pipelines.yml
  pydis_site/apps/api/models/bot/message.py
  pydis_site/apps/api/viewsets.py
  pydis_site/apps/api/viewsets/__init__.py
  pydis_site/apps/api/viewsets/bot/__init__.py
  pydis_site/apps/api/viewsets/bot/bot_setting.py
  pydis_site/apps/api/viewsets/bot/deleted_message.py
  pydis_site/apps/api/viewsets/bot/documentation_link.py
  pydis_site/apps/api/viewsets/bot/infraction.py
  pydis_site/apps/api/viewsets/bot/nomination.py
  pydis_site/apps/api/viewsets/bot/off_topic_channel_name.py
  pydis_site/apps/api/viewsets/bot/reminder.py
  pydis_site/apps/api/viewsets/bot/role.py
  pydis_site/apps/api/viewsets/bot/snake_fact.py
  pydis_site/apps/api/viewsets/bot/snake_idiom.py
  pydis_site/apps/api/viewsets/bot/snake_name.py
  pydis_site/apps/api/viewsets/bot/special_snake.py
  pydis_site/apps/api/viewsets/bot/tag.py
  pydis_site/apps/api/viewsets/bot/user.py
  pydis_site/apps/api/viewsets/log_entry.py
Labels: API, Backend, enhancement

#215 [#192] Flake8-docstrings
  .flake8
  Pipfile
  Pipfile.lock
  manage.py
  pydis_site/apps/api/apps.py
  pydis_site/apps/api/models/bot/bot_setting.py
  pydis_site/apps/api/models/bot/deleted_message.py
  pydis_site/apps/api/models/bot/documentation_link.py
  pydis_site/apps/api/models/bot/infraction.py
  pydis_site/apps/api/models/bot/message.py
  pydis_site/apps/api/models/bot/message_deletion_context.py
  pydis_site/apps/api/models/bot/off_topic_channel_name.py
  pydis_site/apps/api/models/bot/reminder.py
  pydis_site/apps/api/models/bot/role.py
  pydis_site/apps/api/models/bot/snake_fact.py
  pydis_site/apps/api/models/bot/snake_idiom.py
  pydis_site/apps/api/models/bot/snake_name.py
  pydis_site/apps/api/models/bot/special_snake.py
  pydis_site/apps/api/models/bot/tag.py
  pydis_site/apps/api/models/bot/user.py
  pydis_site/apps/api/models/utils.py
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/tests/base.py
  pydis_site/apps/api/views.py
  pydis_site/apps/api/viewsets/bot/bot_setting.py
  pydis_site/apps/api/viewsets/bot/infraction.py
  pydis_site/apps/api/viewsets/bot/nomination.py
  pydis_site/apps/api/viewsets/bot/off_topic_channel_name.py
  pydis_site/apps/api/viewsets/bot/role.py
  pydis_site/apps/api/viewsets/bot/snake_name.py
  pydis_site/apps/api/viewsets/log_entry.py
  pydis_site/apps/home/apps.py
  pydis_site/apps/home/models/repository_metadata.py
  pydis_site/apps/home/templatetags/extra_filters.py
  pydis_site/apps/home/templatetags/wiki_extra.py
Labels: API, Backend, enhancement
