Repository python-discord/site, pull requests merged in 2020-02, with the labels that each got.

#322 Reminder tests
  pydis_site/apps/api/tests/test_reminders.py
Labels: area: tests, priority: 2 - normal

#317 Fix Infraction UniqueTogetherValidator
  README.md
  manage.py
  pydis_site/apps/api/migrations/0050_remove_infractions_active_default_value.py
  pydis_site/apps/api/models/bot/infraction.py
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/tests/test_infractions.py
Labels: area: API, language: python, priority: 0 - critical, type: bug

#330 Fix missing logs when using Docker Compose
  docker-compose.yml
Labels: area: backend, priority: 3 - low, type: bug
