Repository python-discord/site, pull requests merged in 2020-08, with the labels that each got.

#371 FilterList model and endpoints
  Pipfile.lock
  pydis_site/apps/api/migrations/0007_tag.py
  pydis_site/apps/api/migrations/0009_snakefact.py
  pydis_site/apps/api/migrations/0010_snakeidiom.py
  pydis_site/apps/api/migrations/0012_specialsnake.py
  pydis_site/apps/api/migrations/0018_messagedeletioncontext.py
  pydis_site/apps/api/migrations/0019_deletedmessage.py
  pydis_site/apps/api/migrations/0020_infraction.py
  pydis_site/apps/api/migrations/0025_allow_custom_inserted_at_infraction_field.py
  pydis_site/apps/api/migrations/0030_reminder.py
  pydis_site/apps/api/migrations/0031_nomination.py
  pydis_site/apps/api/migrations/0032_botsetting.py
  pydis_site/apps/api/migrations/0035_create_table_log_entry.py
  pydis_site/apps/api/migrations/0049_offensivemessage.py
  pydis_site/apps/api/migrations/0058_create_new_filterlist_model.py
  pydis_site/apps/api/migrations/0059_populate_filterlists.py
  pydis_site/apps/api/models/__init__.py
  pydis_site/apps/api/models/bot/__init__.py
  pydis_site/apps/api/models/bot/bot_setting.py
  pydis_site/apps/api/models/bot/documentation_link.py
  pydis_site/apps/api/models/bot/filter_list.py
  pydis_site/apps/api/models/bot/infraction.py
  pydis_site/apps/api/models/bot/message.py
  pydis_site/apps/api/models/bot/message_deletion_context.py
  pydis_site/apps/api/models/bot/nomination.py
  pydis_site/apps/api/models/bot/off_topic_channel_name.py
  pydis_site/apps/api/models/bot/offensive_message.py
  pydis_site/apps/api/models/bot/reminder.py
  pydis_site/apps/api/models/bot/role.py
  pydis_site/apps/api/models/bot/tag.py
  pydis_site/apps/api/models/bot/user.py
  pydis_site/apps/api/models/log_entry.py
  pydis_site/apps/api/models/mixins.py
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/tests/test_filterlists.py
  pydis_site/apps/api/tests/test_models.py
  pydis_site/apps/api/urls.py
  pydis_site/apps/api/viewsets/__init__.py
  pydis_site/apps/api/viewsets/bot/__init__.py
  pydis_site/apps/api/viewsets/bot/filter_list.py
  pydis_site/tests/__init__.py
  pydis_site/tests/test_utils_account.py
Labels: area: API, language: python, priority: 2 - normal, status: deferred, type: feature

#374 Allow direct fetching of reminders by id
  pydis_site/apps/api/tests/test_reminders.py
  pydis_site/apps/api/viewsets/bot/reminder.py
Labels: area: API, type: feature

#348 Off-topic channel names non random selecting
  pydis_site/apps/api/migrations/0052_create_news_setting.py
  pydis_site/apps/api/migrations/0053_offtopicchannelname_used.py
  pydis_site/apps/api/migrations/0054_remove_user_avatar_hash.py
  pydis_site/apps/api/migrations/0055_merge_20200714_2027.py
  pydis_site/apps/api/migrations/0055_user_roles_to_array.py
  pydis_site/apps/api/migrations/0056_user_invalidate_unknown_role.py
  pydis_site/apps/api/migrations/0057_merge_20200716_0751.py
  pydis_site/apps/api/migrations/0057_reminder_mentions.py
  pydis_site/apps/api/migrations/0058_allow_blank_user_roles.py
  pydis_site/apps/api/migrations/0059_create_new_filterlist_model.py
  pydis_site/apps/api/migrations/0060_populate_filterlists.py
  pydis_site/apps/api/migrations/0061_populate_filterlists_fix.py
  pydis_site/apps/api/models/bot/off_topic_channel_name.py
  pydis_site/apps/api/tests/test_off_topic_channel_names.py
  pydis_site/apps/api/viewsets/bot/off_topic_channel_name.py
Labels: area: API, type: feature

#380 Off-topic names using tracking (v2)
  pydis_site/apps/api/migrations/0052_offtopicchannelname_used.py
  pydis_site/apps/api/migrations/0061_merge_20200830_0526.py
  pydis_site/apps/api/models/bot/off_topic_channel_name.py
  pydis_site/apps/api/tests/test_off_topic_channel_names.py
  pydis_site/apps/api/viewsets/bot/off_topic_channel_name.py
Labels: area: API, priority: 0 - critical
