Repository python-discord/site, pull requests merged in 2020-10, with the labels that each got.

#403 Logging cleanup
  pydis_site/apps/api/admin.py
  pydis_site/apps/api/dblogger.py
  pydis_site/apps/api/migrations/0064_delete_logentry.py
  pydis_site/apps/api/migrations/0066_merge_20201003_0730.py
  pydis_site/apps/api/models/__init__.py
  pydis_site/apps/api/models/log_entry.py
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/tests/test_dblogger.py
  pydis_site/apps/api/urls.py
  pydis_site/apps/api/viewsets/__init__.py
  pydis_site/apps/api/viewsets/log_entry.py
  pydis_site/settings.py
Labels: needs 2 approvals

#378 Add pagination and bulk update support for User(discord user) serializer.
  Pipfile
  Pipfile.lock
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/tests/test_users.py
  pydis_site/apps/api/viewsets/bot/user.py
Labels: area: API, type: feature

#381 100k milestone timeline page
  pydis_site/apps/home/tests/test_views.py
  pydis_site/apps/home/urls.py
  pydis_site/apps/home/views/__init__.py
  pydis_site/apps/home/views/home.py
  pydis_site/static/css/home/timeline.css
  pydis_site/static/images/timeline/cd-icon-location.svg
  pydis_site/static/images/timeline/cd-icon-movie.svg
  pydis_site/static/images/timeline/cd-icon-picture.svg
  pydis_site/static/js/timeline/main.js
  pydis_site/templates/home/timeline.html
Labels: area: frontend, language: javascript, language: python, needs 1 approval, priority: 0 - critical, status: WIP, type: feature

#418 Add activity blocks to Metricity data endpoint
  postgres/init.sql
  pydis_site/apps/api/models/bot/metricity.py
  pydis_site/apps/api/tests/test_users.py
  pydis_site/apps/api/viewsets/bot/user.py
Labels: area: API, area: backend, language: python, priority: 1 - high, type: feature
