Repository python-discord/site, pull requests merged in 2021-12, with the labels that each got.

#632 Use new approx message count view
  pydis_site/apps/api/models/bot/metricity.py
Labels: area: backend, priority: 1 - high, review: needs devops, type: enhancement

#636 Always include metricity message blocks
  pydis_site/apps/api/tests/test_users.py
  pydis_site/apps/api/viewsets/bot/user.py
Labels: area: API, priority: 2 - normal, type: enhancement, s: needs review

#508 offtopicnames active attribute and support for PUT and PATCH request
  pydis_site/apps/api/migrations/0070_auto_20210519_0545.py
  pydis_site/apps/api/migrations/0072_merge_20210724_1354.py
  pydis_site/apps/api/migrations/0074_merge_20211105_0518.py
  pydis_site/apps/api/migrations/0078_merge_20211213_0552.py
  pydis_site/apps/api/models/bot/off_topic_channel_name.py
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/tests/test_off_topic_channel_names.py
  pydis_site/apps/api/viewsets/bot/off_topic_channel_name.py
Labels: area: backend, area: API, priority: 2 - normal, type: enhancement
