Repository python-discord/site, pull requests merged in 2021-11, with the labels that each got.

#618 Adds Failures Field To Reminders
  pydis_site/apps/api/migrations/0074_reminder_failures.py
  pydis_site/apps/api/models/bot/reminder.py
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/viewsets/bot/reminder.py
Labels: area: API, type: feature, priority: 1 - high

#625 Adds Redirect Filter List
  pydis_site/apps/api/migrations/0075_add_redirects_filter.py
  pydis_site/apps/api/models/bot/filter_list.py
  pydis_site/apps/api/viewsets/bot/filter_list.py
Labels: area: API, type: feature, priority: 1 - high

#621 Add `dm_sent` field to infractions model
  pydis_site/apps/api/migrations/0075_infraction_dm_sent.py
  pydis_site/apps/api/migrations/0076_merge_20211125_1941.py
  pydis_site/apps/api/models/bot/infraction.py
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/viewsets/bot/infraction.py
Labels: area: backend, area: API, priority: 3 - low, area: moderation, type: enhancement

#612 Adds Redirects To Static Builds
  pydis_site/apps/redirect/redirects.yaml
  pydis_site/apps/redirect/urls.py
  pydis_site/urls.py
Labels: area: frontend, priority: 2 - normal, type: enhancement
