Repository python-discord/site, pull requests merged in 2022-02, with the labels that each got.

#650 Allow searching users by username and discriminator
  pydis_site/apps/api/tests/test_users.py
  pydis_site/apps/api/viewsets/bot/user.py
Labels: area: backend, area: API, language: python, priority: 2 - normal, type: enhancement, s: needs review

#644 Return random off topic names which are Active only
  pydis_site/apps/api/tests/test_off_topic_channel_names.py
  pydis_site/apps/api/viewsets/bot/off_topic_channel_name.py
Labels: area: backend, area: API, priority: 2 - normal, type: enhancement, s: needs review

#661 Fix typo in bot tutorial resource
  pydis_site/apps/resources/resources/vcokltfre_discord_bot_tutorial.yaml
Labels: type: bug, area: frontend, project: smarter resources

#624 Content: update help channel guide
  pydis_site/apps/content/resources/guides/pydis-guides/help-channel-guide.md
  pydis_site/apps/content/resources/guides/python-guides/creating-python-environment-windows.md
  pydis_site/static/images/content/help_channels/available_message.png
  pydis_site/static/images/content/help_channels/claimed_channel.png
  pydis_site/static/images/content/help_channels/dormant_channels.png
  pydis_site/static/images/content/help_channels/topical_channels.png
Labels: area: frontend, priority: 3 - low, type: enhancement

#666 Prevent race condition with duplicate infractions
  pydis_site/apps/api/serializers.py
  pydis_site/apps/api/tests/test_infractions.py
  pydis_site/apps/api/viewsets/bot/infraction.py
Labels: type: bug, area: backend, area: API, language: python, priority: 3 - low, level: 2 - advanced, s: needs review

#670 Remove the admin app
  pydis_site/apps/admin/__init__.py
  pydis_site/apps/admin/urls.py
Labels: area: backend, language: python, priority: 3 - low, level: 0 - beginner, type: enhancement

#682 Add channel ID to message deletion logs
  pydis_site/templates/staff/logs.html
Labels: area: backend, priority: 2 - normal, area: moderation, type: enhancement, s: needs review

#683 Add a README for the project directory, remove unused apps
  pydis_site/README.md
  pydis_site/apps/home/views/home.py
  pydis_site/constants.py
  pydis_site/context_processors.py
  pydis_site/settings.py
  pydis_site/utils/resources.py
Labels: area: backend, area: docs, priority: 1 - high, level: 0 - beginner
