Repository python-discord/site, pull requests merged in 2024-04, with the labels that each got.

#1281 Don't propagate the status received from Discord to GitHub Webhook
  pydis_site/apps/api/tests/test_github_webhook_filter.py
  pydis_site/apps/api/views.py
Labels: area: backend, area: API, priority: 1 - high

#1286 Prefetch the filter_list field in the FilterListSerializer
  pydis_site/apps/api/serializers.py
Labels: area: backend, area: API, priority: 2 - normal, area: moderation, s: needs review

#1288 Return BytesIO as fp for mocked HTTP errors
  pydis_site/apps/api/tests/test_github_webhook_filter.py
Labels: language: python, area: tests, priority: 2 - normal, level: 1 - intermediate, type: enhancement

#1287 Upsert tags in two queries
  pydis_site/apps/content/tests/test_utils.py
  pydis_site/apps/content/utils.py
Labels: area: backend, language: python, area: tests, priority: 2 - normal, level: 2 - advanced, type: enhancement

#1279 Add test case for DRF 3.15 regression
  pydis_site/apps/api/tests/test_filters.py
Labels: area: backend, language: python, area: tests, priority: 2 - normal, level: 1 - intermediate, type: enhancement

#1280 Set elidable on RunPython operations in migrations
  pydis_site/apps/api/migrations/0043_infraction_hidden_warnings_to_notes.py
  pydis_site/apps/api/migrations/0044_migrate_nominations_from_infraction_to_nomination_model.py
  pydis_site/apps/api/migrations/0047_active_infractions_migration.py
  pydis_site/apps/api/migrations/0068_split_nomination_tables.py
  pydis_site/apps/api/migrations/0074_voice_mute.py
  pydis_site/apps/api/migrations/0084_infraction_last_applied.py
  pydis_site/apps/api/migrations/0087_alter_mute_to_timeout.py
  pydis_site/apps/api/migrations/0088_new_filter_schema.py
  pydis_site/apps/api/migrations/0092_remove_redirect_filter_list.py
Labels: area: backend, language: python, priority: 3 - low, level: 2 - advanced, type: enhancement

#1290 Replace `docker-compose` with `docker compose` in action
  .github/workflows/lint-test.yaml
Labels: priority: 2 - normal, area: CI, level: 1 - intermediate, type: enhancement

#1297 Add our reference to Netcup links
  pydis_site/apps/content/resources/guides/python-guides/vps-services.md
  pydis_site/templates/base/footer.html
  pydis_site/templates/home/index.html
Labels: area: frontend, priority: 2 - normal, level: 0 - beginner, type: enhancement
